/*
 * Ionic Variables and Theming
 * ----------------------------------------------------------------------------
 * For more information, please see
 * https://www.ionicframework.com/docs/theming/
 */

/*
 * Additional Ionic Colors
 * ----------------------------------------------------------------------------
 * In order to add colors to be used within Ionic components,
 * the color should be added as a class with the convention `.ion-color-{COLOR}`
 * where `{COLOR}` is the color to be used on the Ionic component.
 * For more information on adding new colors, please see
 * https://ionicframework.com/docs/theming/colors#adding-colors
 *
 * To generate the code for a new color, check out our new color creator:
 * https://ionicframework.com/docs/theming/colors#new-color-creator
 */

:root {
  /* Azul Escuro UnB  */
  --ion-color-primary: #003366;
  --ion-color-primary-rgb: 0, 51, 102;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #002d5c;
  --ion-color-primary-tint: #1a4d80;

  /* Verde UnB  */
  --ion-color-secondary: #008542;
  --ion-color-secondary-rgb: 0, 133, 66;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #00753a;
  --ion-color-secondary-tint: #1a9155;

  /* Fundo */
  --ion-background-color: #f4f5f8;
  --ion-text-color: #333333;

  /* Tons */
  --ion-color-medium: #92949c;
  --ion-color-light: #f4f5f8;

  /* Cores usadas do Ionic */
  --ion-color-ionic: var(--ion-color-primary);
  --ion-color-angular: #ac282b;
  --ion-color-communication: #8e8d93;
  --ion-color-tooling: #fe4c52;
  --ion-color-services: #fd8b2d;
  --ion-color-design: #fed035;
  --ion-color-workshop: #69bb7b;
  --ion-color-food: #3bc7c4;
  --ion-color-documentation: #b16be3;
  --ion-color-navigation: #6600cc;

  --ion-headings-font-weight: 300;
}

$tracks: (
  ionic,
  angular,
  communication,
  tooling,
  services,
  design,
  workshop,
  food,
  documentation,
  navigation
);

/*
 * App iOS Variables
 * ----------------------------------------------------------------------------
 */
.ios {
}

/*
 * App Material Design Variables
 * ----------------------------------------------------------------------------
 */
.md {
}
