/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@use '@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@use '@ionic/angular/css/normalize.css';
@use '@ionic/angular/css/structure.css';
@use '@ionic/angular/css/typography.css';

/* Optional CSS utils that can be commented out */
@use '@ionic/angular/css/padding.css';
@use '@ionic/angular/css/float-elements.css';
@use '@ionic/angular/css/text-alignment.css';
@use '@ionic/angular/css/text-transformation.css';
@use '@ionic/angular/css/flex-utils.css';

/*
 * App CSS
 * ----------------------------------------------------------------------------
 * Imports a file that can contain Sass/CSS that should be used throughout
 * the entire app.
 */

@use './app/app.scss';

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

// @use "@ionic/angular/css/palettes/dark.always.css";
// @use "@ionic/angular/css/palettes/dark.system.css";
@use '@ionic/angular/css/palettes/dark.class.css';


:root {
  --ion-color-primary: #003366 !important;
  --ion-color-primary-rgb: 0, 51, 102 !important;

  --ion-color-secondary: #008542 !important;
  --ion-color-secondary-rgb: 0, 133, 66 !important;
}

ion-toolbar {
  --background: #003366 !important;
  --color: #ffffff !important;
}


ion-button {
  --background: #008542 !important;
  --color: #ffffff !important;
}


ion-tab-button.tab-selected {
  color: #003366 !important;
}



ion-button[fill="clear"],
ion-button.skip,
.skip {
  color: #ffffff !important;
}


ion-toolbar ion-button {
  color: #ffffff !important;
}

